@using EPiServer.Web.Mvc.Html

@model EpiServerDevelopment.Features.StartPage.StartPage

    @{
        Layout = "~/Features/Shared/Layouts/_Layout.cshtml";
    }
    <div>
        @Html.PropertyFor(m => m.MainContent)
    </div>
