@using System.Web.Mvc.Html
@using System.Web.Optimization
@using EpiServerDevelopment.Features.GlobalLayout
@using EPiServer.Editor

@inherits BaseWebViewPage

<!DOCTYPE html>

<head class="no-js">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Space template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and png in the root directory -->
    
    
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/js")
    
    @if (PageEditing.PageIsInEditMode)
    {
        @*Add edit mode specific css*@
        @Scripts.Render("~/bundles/editmode-css");
    }   
</head>
<body>
<div>    
    <!-- Header Start -->
    @{ Html.RenderPartial("Header", PageLayout);}
    <!-- Header End -->     
    
    <!-- Body Start-->    
    @RenderBody()    
    <!-- Body End-->    

    <!-- footer Start -->
    @{ Html.RenderPartial("Footer", PageLayout); }
    <!-- footer End -->

</div>
</body>