<?xml version="1.0" encoding="utf-8"?>
<module>

  <clientResources>
    <add name="extended-field" path="/ClientResources/js/extended-field.js" resourceType="Script" />
  </clientResources>

  <clientModule>
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="extended-field" />
    </requiredResources>
  </clientModule>

  <dojoModules>
    <!--<add name="EpiServerDevelopment" path="" />-->
  </dojoModules>
  
  <dojo>    
    <paths>
      <!-- Add a mapping from EpiServerDevelopment to ~/ClientResources/Scripts to the dojo loader configuration -->
      <add name="cms" path="Scripts" />
    </paths>
  </dojo>
</module>